<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: content(~{::body}, 'Novo Curso')}">
<body>
    <h1>Novo Curso</h1>
    <form th:action="@{/web/cursos}" th:object="${curso}" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" th:field="*{name}" required>
        <label for="category">Categoria:</label>
        <input type="text" id="category" th:field="*{category}" required>
        <label for="professor">Professor:</label>
        <input type="text" id="professor" th:field="*{professor}" required>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</body>
</html>