<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Título</title>
    <link rel="stylesheet" href="/css/tailwind.css">
</head>
<body>
    <header th:fragment="header">
        <nav>
            <a th:href="@{/web/cursos}">Cursos</a>
            <a th:href="@{/logout}">Sair</a>
        </nav>
    </header>
    <main th:fragment="content">
        <div th:replace="${content}"></div>
    </main>
    <footer th:fragment="footer">
        <p>&copy; 2025 Curso API</p>
    </footer>
</body>
</html>